.Landing {
  display: flex;
  color: white;
}

.BGImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  filter: blur(5px);
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.6);
  z-index: -5;
}

.Left {
  width: 60%;
}

.Right {
  text-align: right;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  width: 50%;
  height: 75%;
  margin-top: 10%;
  margin-right: 20%;
  padding: 100px 75px;
}

.Right div {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.Title {
  margin: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  font-size: 5rem;
  font-weight: bold;
  color: rgba(155, 0, 0, 0.9);
}

.Login {
  background: rgba(0, 100, 255, 0.8);
  color: white;
  padding: 15px 10px;
  margin-top: 10px;
  display: inline-block;
}
